<!DOCTYPE html>
<html>
<body>

<audio id="myAudio">
  <source src="http://159.223.234.185:5000/001-poklon-razogrev.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<p id='message'></p>
<div id='buttons'>
<button onclick="playAudio()" type="button">Play Audio</button>
<button onclick="pauseAudio()" type="button">Pause Audio</button> 
<button onclick="sendMessage()" type="button">send</button> 
</div>

<script>
let socket = new WebSocket("ws://159.223.234.185:7071");

socket.onopen = function(e) {
  alert("[open] Connection established");
  alert("Sending to server");
};

function sendMessage() {
  socket.send("pokso naeui ko");
};

socket.onmessage = function(event) {
  document.getElementById('message').innerHTML = event.data;
  alert(event.data)
};

socket.onclose = function(event) {
  if (event.wasClean) {
    alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
  } else {
    // e.g. server process killed or network down
    // event.code is usually 1006 in this case
    alert('[close] Connection died');
  }
};

socket.onerror = function(error) {
  alert(`[error] ${error.message}`);
};
var vid = document.getElementById("myAudio");
vid.onloadeddata = function() {
  var buttons = document.getElementById('buttons');

};

var x = document.getElementById("myAudio"); 

function playAudio() { 
  x.play(); 

} 

function pauseAudio() { 
	console.log(x.currentTime);
  x.pause(); 

} 

</script>

</body>
</html>
